<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cab Fare</title>
    <style>
        a {
            text-decoration: none;
            color: blue;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Cab Fare details</h1>
    <p>Fare: <span th:text="${response.fare}">[Fare]</span></p>
    <p>Message: <span th:text="'Please go to the book cab link below to book a cab'"></span></p>
    <a th:href="@{/cab/book}">Book Cab</a> <br>
	
    <p>
        <a th:href="@{/cab/fare}">Calculate Again</a> |
        <a th:href="@{/cab/}">Go to Index</a>
    </p>
</body>
</html>
